* text=auto eol=lf

*.html diff=html
*.md diff=markdown
*.php diff=php

/.github            export-ignore
/.gitignore         export-ignore
/.gitattributes     export-ignore
/.editorconfig      export-ignore
/.vscode            export-ignore
/.idea              export-ignore
/tests              export-ignore
/coverage           export-ignore
/phpunit.xml        export-ignore
/phpunit.xml.dist   export-ignore
/phpstan.neon       export-ignore
/phpstan.neon.dist  export-ignore
/psalm.xml          export-ignore
/psalm.xml.dist     export-ignore
/pint.json          export-ignore
/rector.php         export-ignore
/docker-compose.yml export-ignore
/Dockerfile         export-ignore
/.docker            export-ignore
/build              export-ignore
/dist               export-ignore
/docs               export-ignore
/examples           export-ignore
/styleci.yml        export-ignore
/composer.lock      export-ignore
/extra              export-ignore
/CHANGELOG.md       export-ignore
/AGENTS.md          export-ignore
