name: Tests

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest

    env:
      MIVA_API_URL: ${{ secrets.MIVA_API_URL }}
      MIVA_API_STORE_CODE: ${{ secrets.MIVA_API_STORE_CODE }}
      MIVA_API_ACCESS_TOKEN: ${{ secrets.MIVA_API_ACCESS_TOKEN }}
      MIVA_API_PRIVATE_KEY: ${{ secrets.MIVA_API_PRIVATE_KEY }}
      MIVA_API_HTTP_CACHE: ${{ secrets.MIVA_API_HTTP_CACHE }}
      MIVA_API_HTTP_VERIFY: ${{ secrets.MIVA_API_HTTP_VERIFY }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          coverage: none
          tools: composer
          extensions: mbstring

      - name: Get Composer Cache Directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache Composer dependencies
        uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Install dependencies
        run: composer install --no-interaction --no-progress --prefer-dist

      - name: Run Pest
        run: vendor/bin/pest

      - name: Run PHPStan
        run: vendor/bin/phpstan analyse --memory-limit=512M

      - name: Run Pint
        run: vendor/bin/pint --test
